<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="css/css.css" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="js/angular/angular-1.5.7.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap/bootstrap.min.js"></script>

        <script src="js/angular/todo.js"></script>
        <script src="js/angular/controllers/todo.controller.js"></script>
        <script src="js/angular/directives/todo.directive.js"></script>

        <title>
            To-do list
        </title>
    </head>
    <body ng-app="myApp" ng-controller="ToDoController">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 toDolist">
                    <h2>Angular To-Do list</h2>
                    <div ng-repeat="item in toDoList" class="toDoItem">
                        {{ item }}
                    </div>
                    <div class="inputDiv">
                        <input type="text" ng-model="toDoInput" placeholder="I want to do.." />
                        <input type="button" class="btn btn-primary" value="Add to list" ng-click="addItem()"></input>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>